<section ng-controller="RecipesController" ng-init="findOne()">
    <div class="page-header">
        <h1>
            Edit Recipe
        </h1>
    </div>
    <div class="col-md-12">
        <form name="recipeForm" class="form-horizontal" ng-submit="update(recipeForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group" show-errors>
                    <label for="title">
                        Title
                    </label>
                    <input name="title" type="text" ng-model="recipe.title" id="title" class="form-control" placeholder="Title" required>
                    <div ng-messages="recipeForm.title.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">
                            Recipe title is required.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <label for="selectedIngridient">
                        Add ingridient
                    </label>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <input type="text" class="form-control"
                                ng-model="selectedIngridient"
                                data-animation="am-flip-x"
                                bs-options="obj.id as obj.caption for obj in getIngridientList()"
                                placeholder="Enter ingridient"
                                select-mode="true"
                                data-onSelect="newIngridient(selectedIngridient)"   
                                bs-typeahead
                            >
                        </div>
                        <div class="col-md-6">
                            <a class="pull-left btn btn-primary btn-xs" data-nodrag ng-click="newIngridient(selectedIngridient)" style="margin-right: 8px;">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                        <table ui-tree="treeIngridients" id="tree-root-ingridient" class="table table-responsive" data-drag-delay="100">
                            <thead>
                                <tr>
                                    <th>Sort</th>
                                    <th width="60%">
                                        <label for="tree-root-ingridient">
                                            Ingridients
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody ui-tree-nodes ng-model="recipe.ingridients">
                                <tr ng-repeat="ingridient in recipe.ingridients" ui-tree-node>
                                    <td>
                                        <strong>{{ingridient.index+1}}</strong>
                                        <i class="glyphicon glyphicon-resize-vertical" ui-tree-handle></i>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    {{ingridient.caption}}
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <a class="btn btn-link btn-xs" data-nodrag ng-click="amountMinus(ingridient)" id="amountMinus">
                                                                <span class="glyphicon glyphicon-minus"></span>
                                                            </a>
                                                        </span>
                                                        <span ng-hide="ingridient.isPopover">
                                                            <a class="btn btn-secondary btn-block" ng-click="ingridient.isPopover = true">
                                                                {{ingridient.amount}}
                                                            </a>   
                                                        </span>
                                                        <span ng-show="ingridient.isPopover">
                                                            <input class="input-md" type="number" ng-model="ingridient.amount" placeholder="Name" />
                                                            <a class="btn btn-default btn-block" ng-click="amountApply(ingridient)">
                                                                Save
                                                            </a> 
                                                        </span>
                                                        <span class="input-group-addon">
                                                            <a class="btn btn-link btn-xs" data-nodrag ng-click="amountPlus(ingridient)" id="amountPlus">
                                                                <span class="glyphicon glyphicon-plus"></span>
                                                            </a>
                                                        </span>
                                                        <span class="input-group-addon">
                                                            {{ingridient.measure.caption}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeIngridient(this)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <table ui-tree="treeSteps" id="tree-root" class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Sort</th>
                                    <th width="80%">Name</th>
                                    <th>
                                        <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newStep()" style="margin-right: 8px;">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody ui-tree-nodes ng-model="recipe.steps">
                                <tr ng-repeat="step in recipe.steps" ui-tree-node>
                                    <td>
                                        <strong>{{step.index+1}}</strong>
                                        <i class="glyphicon glyphicon-resize-vertical" ui-tree-handle></i> 
                                    </td>
                                    <td>
                                        <div class="form-group" data-nodrag>
                                            <textarea name="action" ng-model="step.action" id="action" class="form-control" cols="30" rows="3" placeholder="Action"></textarea>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeStep(this)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content">
                        Content
                    </label>
                    <textarea name="content" ng-model="recipe.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content">
                    </textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
                <div ng-show="error" class="text-center alert alert-danger">
                    <strong ng-bind="error">
                    </strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
