<section ng-controller="RecipesController" ng-init="findOne();shelves=true">
    <div class="page-header">
        <h1 ng-bind="recipe.title"></h1>
    </div>
    <div class="pull-right" ng-show="authentication.user.id == recipe.user.id || authentication.user.roles.indexOf('admin') != -1">
        <a class="btn btn-primary" ui-sref="recipes.edit({recipeId: recipe.id})">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="remove(recipe);">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Добавлен
            <span ng-bind="recipe.createdAt | date:'mediumDate'"></span>
            автором
            <span ng-bind="recipe.user.username"></span>
            <span class="glyphicon glyphicon-eye-close" ng-show="recipe.isPrivate">
                Секретный
            </span>
        </em>
    </small>
    <hr>
    <small>
        Количество порций: 
        <span ng-bind="recipe.portions"></span>
<!-- TODO добавить ввод числа основного ингредиента и преобразование под него-->
        <!--        TODO добавить селектор и преобразование чисел-->
    </small>
    <hr>
    <label for="ingredients">
        Ингридиенты
    </label>
    <toggle-switch class="switch-primary" ng-model="shelves" on-label="Да" off-label="Нет"></toggle-switch>
    <label for="filterBar.spoiled">
        Показывать полки
    </label>
    <ol>
        <li ng-repeat="ingredient in recipe.ingredients">
            <div class="row">
                <div class="col-md-2">
                    <span ng-bind="ingredient.caption"></span>    
                </div>
                <div class="col-md-2">
                    <span ng-bind="ingredient.comment"></span>    
                </div>
                <div class="col-md-1">
                    <span ng-bind="ingredient.amount"></span>
                </div>
                <div class="col-md-1">
                    <span ng-bind="ingredient.measure.caption"></span>
                </div>
                <div ng-show="shelves && ingredient.shelf" class="col-md-4">
                    <shelfstatusbar ng-model="ingredient.shelf" handle="shelf.progressbar"></shelfstatusbar>
                </div>
            </div>
        </li>
    </ol>
    <hr>
    <label for="steps">
        Инструкции
    </label>
    <ol>
        <li ng-repeat="step in recipe.steps">
            <span ng-bind="step.action"></span>
            <hr>
        </li>
    </ol>
    <label for="content">
        Применчания
    </label>
    <span ng-bind="recipe.content"></span>
</section>
