<section ng-controller="RecipesController">
    <div class="page-header">
        <h1>
            New Recipe
        </h1>
    </div>
    <div class="col-md-12">
        <form name="recipeForm" class="form-horizontal" ng-submit="create(recipeForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group" show-errors>
                    <label for="title">
                        Title
                    </label>
                    <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title" required>
                    <div ng-messages="recipeForm.title.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">
                            Recipe title is required.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <label for="selectedIngridient">
                        Add ingridient
                    </label>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <input type="text" class="form-control"
                                ng-model="selectedIngridient"
                                data-animation="am-flip-x"
                                bs-options="obj.id as obj.caption for obj in getIngridientList()"
                                placeholder="Enter ingridient"
                                select-mode="true"
                                bs-typeahead
                            >
                        </div>
                        <div class="col-md-6">
                            <a class="pull-left btn btn-primary btn-xs" data-nodrag ng-click="newIngridient(selectedIngridient)" style="margin-right: 8px;">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                        <table ui-tree="treeIngridients" id="tree-root-ingridient" class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>
                                        Sort
                                    </th>
                                    <th width="60%">
                                        <label for="tree-root-ingridient">
                                            Ingridients
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody ui-tree-nodes ng-model="ingridientData">
                                <tr ng-repeat="ingridient in ingridientData" ui-tree-node>
                                    <td>
                                        <strong>{{ingridient.index+1}}</strong>
                                        <i class="glyphicon glyphicon-resize-vertical" ui-tree-handle></i>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    {{ingridient.caption}}
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="input-group">
                                                        <span class="input-group-addon" ng-hide="ingridient.isPopover">
                                                            <a class="btn btn-link btn-xs" data-nodrag ng-click="amountMinus(ingridient)" id="amountMinus">
                                                                <span class="glyphicon glyphicon-minus"></span>
                                                            </a>
                                                        </span>
                                                        <a class="btn btn-secondary btn-block" 
                                                           ng-click="ingridient.isPopover = true" 
                                                           ng-hide="ingridient.isPopover">
                                                                {{ingridient.amount}}
                                                        </a>
                                                        <span class="input-group-addon" ng-hide="ingridient.isPopover">
                                                                {{ingridient.measure.caption}}
                                                        </span>
                                                        <span ng-show="ingridient.isPopover">
                                                            <input class="input-sm" type="number" ng-model="ingridient.measure" placeholder="Name" />
                                                            <a class="btn btn-default btn-block" ng-click="amountApply(ingridient)">
                                                                Save
                                                            </a> 
                                                        </span>
                                                        <span class="input-group-addon" ng-hide="ingridient.isPopover">
                                                            <a class="btn btn-link btn-xs" data-nodrag ng-click="amountPlus(ingridient)" id="amountPlus">
                                                                <span class="glyphicon glyphicon-plus"></span>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeIngridient(this)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="tree-root-step">
                            Steps
                        </label>
                        <table ui-tree="treeSteps" id="tree-root-step" class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>
                                        Sort
                                    </th>
                                    <th width="80%">
                                        Step
                                    </th>
                                    <th>
                                        <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newStep()" style="margin-right: 8px;">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody ui-tree-nodes ng-model="stepData">
                                <tr ng-repeat="step in stepData" ui-tree-node>
                                    <td>
                                        <strong>{{step.index+1}}</strong>
                                        <span class="glyphicon glyphicon-resize-vertical" ui-tree-handle></span>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label for="action">
                                                Action
                                            </label>
                                            <textarea name="action" ng-model="step.action" id="action" class="form-control" cols="30" rows="3" placeholder="Action"></textarea>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeStep(this)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content">
                        Content
                    </label>
                    <textarea name="content" ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div ng-show="error" class="text-center alert alert-danger">
                    <strong ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
