<section ng-controller="RecipesController">
    <div class="page-header">
        <h1>
            New Recipe
        </h1>
    </div>
    <div class="col-md-12">
        <form name="recipeForm" class="form-horizontal" ng-submit="create(recipeForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group" show-errors>
                    <label for="title">
                        Title
                    </label>
                    <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title" required>
                    <div ng-messages="recipeForm.title.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">
                            Recipe title is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ingridients">
                        Ingridients
                    </label>
                    <div class="col-md-12">
                        <table ui-tree="treeIngridients" id="tree-root-ingridient" class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>
                                        <label for="ingridientIndex" ng-show="ingridientData.length>0">
                                            Sort
                                        </label>
                                    </th>
                                    <th width="60%">
                                        <label for="tree-root-ingridient" ng-show="ingridientData.length>0">
                                            Ingridients
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody ui-tree-nodes ng-model="ingridientData">
                                <tr ng-repeat="ingridient in ingridientData" ui-tree-node>
                                    <td>
                                        <strong>{{ingridient.index+1}}</strong>
                                        <i class="glyphicon glyphicon-sort" ui-tree-handle></i>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    {{ingridient.caption}}
                                                    <div class="input-group">
                                                        <span class="btn btn-link btn-xs" ng-show="ingridient.infoCard" 
                                                              ng-click="ingridient.info = !ingridient.info">
                                                            <i class="glyphicon glyphicon-text-background"></i>
                                                        </span>
                                                        <span ng-if="ingridient.image" ng-show="ingridient.info">
                                                            <img ng-src="./uploads/ingridients/pictures/{{ingridient.image}}" class="img-thumbnail user-profile-picture">
                                                        </span>
                                                        <p ng-bind="ingridient.infoCard" ng-show="ingridient.info"></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="input-group">
                                                        <span class="input-group-addon" ng-hide="ingridient.isConvert || ingridient.isPopover">
                                                            <a class="btn btn-link btn-xs" data-nodrag ng-click="amountMinus(ingridient)" id="amountMinus">
                                                                <span class="glyphicon glyphicon-minus"></span>
                                                            </a>
                                                        </span>
                                                        <a class="btn btn-default btn-block" 
                                                           ng-click="ingridient.isPopover = true" 
                                                           ng-hide="ingridient.isConvert || ingridient.isPopover">
                                                                {{ingridient.amount}}
                                                        </a>
                                                        <span class="input-group-addon" ng-hide="ingridient.isConvert" ng-click="converter(ingridient)">
                                                                {{ingridient.measure.caption}}
                                                        </span>
                                                        <span class="input-group-addon" ng-show="ingridient.isConvert" ng-click="ingridient.isConvert=false">
                                                                {{ingridient.amount}} {{ingridient.measure.caption}}
                                                        </span>
                                                        <span ng-show="ingridient.isConvert || ingridient.isPopover">
                                                            <input class="form-control" type="number" 
                                                                   ng-model="ingridient.amount" 
                                                                   placeholder="Amount" 
                                                                   ng-show="ingridient.isPopover"
                                                            >
                                                            <input type="text" class="form-control"
                                                                ng-model="ingridient.selectedMeasure"
                                                                bs-options="obj.id as obj.caption for obj in measuresList"
                                                                placeholder="Choose conversion"
                                                                ng-show="ingridient.isConvert"
                                                                bs-select
                                                            > 
                                                        </span>
                                                        <span class="input-group-addon" ng-show="ingridient.isConvert || ingridient.isPopover"
                                                              ng-click="amountApply(ingridient)"
                                                            >
                                                            <i class="glyphicon glyphicon-random"></i>
                                                        </span>
                                                        <span class="input-group-addon" ng-hide="ingridient.isConvert || ingridient.isPopover">
                                                            <a class="btn btn-link btn-xs" data-nodrag ng-click="amountPlus(ingridient)" id="amountPlus">
                                                                <span class="glyphicon glyphicon-plus"></span>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeIngridient(this)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                ng-model="selectedIngridient"
                                data-animation="am-flip-x"
                                bs-options="obj.id as obj.caption for obj in getIngridientList()"
                                placeholder="Add ingridient"
                                select-mode="true"
                                bs-typeahead
                            >
                            <span class="input-group-addon" ng-click="newIngridient(selectedIngridient)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </span> 
                        </div> 
                    </div>
                </div>
                <div class="form-group">
                    <label for="steps">
                        Steps
                    </label>
                    <div class="col-md-12">
                        <table ui-tree="treeSteps" id="tree-root-step" class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>
                                        <label for="stepIndex" ng-show="stepData.length>0">
                                            Sort
                                        </label>
                                    </th>
                                    <th width="80%">
                                        <label for="stepData" ng-show="stepData.length>0">
                                            Steps
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody ui-tree-nodes ng-model="stepData">
                                <tr ng-repeat="step in stepData" ui-tree-node>
                                    <td>
                                        <strong>{{step.index+1}}</strong>
                                        <span class="glyphicon glyphicon-sort" ui-tree-handle></span>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <textarea name="action" ng-model="step.action" id="action" class="form-control" cols="30" rows="3" placeholder="Action"></textarea>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeStep(this)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                    ng-model="actionStep"
                                    data-animation="am-flip-x"
                                    placeholder="Enter new step here or press plus"
                                >
                            <span class="input-group-addon" ng-click="newStep()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </span> 
                        </div> 
                    </div>
                </div>               
                <div class="form-group">
                    <label for="content">
                        Content
                    </label>
                    <textarea name="content" ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div ng-show="error" class="text-center alert alert-danger">
                    <strong ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
