<section ng-controller="MeasuresController">
    <div class="page-header">
        <h1>
            Measure create
        </h1>
    </div>
    <form name="measureForm" class="form-horizontal" ng-submit="create(measureForm.$valid)" novalidate>
        <fieldset>
            <div class="form-group"> 
                <div class="col-md-3">
                    <label for="caption">
                        Measure caption
                    </label>
                    <input class="form-control" type="text" ng-model="caption" placeholder="Name" />
                </div>
                <div class="col-md-3">
                    <label for="min">
                        Measure minimum value
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <a class="btn btn-link btn-xs" data-nodrag ng-click="minMinus()" id="minMinus">
                                <span class="glyphicon glyphicon-minus"></span>
                            </a>
                        </span>
                        <input class="form-control" type="number" ng-model="min" placeholder="Min" />
                        <span class="input-group-addon">
                            <a class="btn btn-link btn-xs pull-left" data-nodrag ng-click="minPlus()" id="minPlus">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="step">
                        Measure step value
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <a class="btn btn-link btn-xs" data-nodrag ng-click="stepMinus()" id="amountMinus">
                                <span class="glyphicon glyphicon-minus"></span>
                            </a>
                        </span>
                        <input class="form-control" type="number" ng-model="step" placeholder="Step" />
                        <span class="input-group-addon">
                            <a class="btn btn-link btn-xs" data-nodrag ng-click="stepPlus()" id="amountPlus">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </span>
                    </div> 
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <input type="submit" class="btn btn-default">
                </div>
            </div>
        </fieldset>
    </form>
</section>