<section ng-controller="MeasuresController" ng-init="findOne()">
    <div class="page-header">
        <h1 ng-show="measure.id">
            Настройка меры: {{measure.caption}}
        </h1>
        <h1 ng-hide="measure.id">
            Новая мера
        </h1>
    </div>
    <form name="measureForm" class="form-horizontal" ng-submit="save(measureForm.$valid)" novalidate>
        <fieldset>
            <div class="row">
                <div class="col-md-4">
                    <label for="caption">
                        Название меры
                    </label>
                    <input id="caption" class="form-control" type="text" ng-model="measure.caption" placeholder="Например, ст.л.">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <label for="uncountable">
                        Тип меры
                    </label>
                </div>
                <div class="col-md-4">
                    <toggle-switch id="uncountable" class="switch-default" ng-model="uncountable" on-label="Словесная" off-label="Числовая"></toggle-switch>
                </div>
            </div>
            <div class="row" ng-hide="uncountable">
                <hr>
                <div class="col-md-4">
                    <label for="min">
                        Минимальное значение
                    </label>
                </div>
                <div class="col-md-4">
                    <updowninput id="min" ng-model="measure.min" min="0" step="0.005" max="100"></updowninput>
                </div>
            </div>
            <div class="row" ng-hide="uncountable">
                <hr>
                <div class="col-md-4">
                    <label for="step">
                        Значение шага кнопок + и -
                    </label>
                </div>
                <div class="col-md-4">
                    <updowninput id="step" ng-model="measure.step" min="0" step="0.05" validator="applyStep(id,value,oldValue)"></updowninput>
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col-md-6">
                    <label>
                        Доступные преобразования
                    </label>
                    <div class="list-group">
                        <div ng-repeat="subMeasure in converter" class="list-group-item">
                            <div class="row">
                                <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeSubMeasure(subMeasure.index)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <div class="col-xs-3 col-md-2">
                                    <h4 class="list-group-item-heading" ng-bind="subMeasure.caption"></h4>
                                </div>
                                <div class="col-xs-8 col-md-4" ng-hide="uncountable || measure.step<=0 || subMeasure.uncountable">
                                    <updowninput ng-model="subMeasure.rate" min="0" step="0.001"></updowninput>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <label for="asyncSelected">
                                Добавить в список
                            </label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-search"></i>
                                </div>
                                <input id="asyncSelected" type="text" ng-model="asyncSelected" placeholder="Введите название" typeahead="measure as measure.caption for measure in getMeasures($viewValue)" typeahead-loading="loadingMeasures" typeahead-no-results="noResults" typeahead-on-select="addSubMeasure($item)" class="form-control">
                                <i ng-show="loadingMeasures" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResults" class="input-group-addon">
                                    <i class="glyphicon glyphicon-remove"></i>
                                    Нет результатов
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="{{measure.id ? 'Обновить' : 'Сохранить'}}">
            </div>
            <div ng-show="error" class="text-danger">
                <strong ng-bind="error"></strong>
            </div>
        </fieldset>
    </form>
</section>
