<section ng-controller="MeasuresController" ng-init="findOne()">
    <div class="page-header">
        <h1>
            Measure edit
        </h1>
    </div>
    <form name="measureForm" class="form-horizontal" ng-submit="update(measureForm.$valid)" novalidate>
        <fieldset>
            <div class="form-group"> 
                <div class="col-md-3">
                    <label for="caption">
                        Measure caption
                    </label>
                    <input class="form-control" type="text" ng-model="measure.caption" placeholder="Name" />
                </div>
                <div class="col-md-4">
                    <label for="min" ng-hide="uncountable">
                        Measure minimum value
                    </label>
                    <label for="min" ng-show="uncountable">
                        Measure uncountable
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon" ng-show="uncountable">
                            <a class="btn btn-link btn-xs" ng-click="uncountable=false" >
                                <span class="glyphicon glyphicon-lock"></span>
                                Uncountable
                            </a>
                        </span>
                        <span class="input-group-addon" ng-hide="uncountable">
                            <a class="btn btn-link btn-xs" ng-click="uncountable=true" >
                                <span class="glyphicon glyphicon-scale"></span>
                                Countable
                            </a>
                        </span>
                        <span class="input-group-addon" ng-hide="uncountable">
                            <a class="btn btn-link btn-xs" ng-click="minMinus(measure)" ng-hide="measure.min==0">
                                <span class="glyphicon glyphicon-minus"></span>
                            </a>
                        </span>
                        <input class="form-control" type="number" ng-model="measure.min" ng-hide="uncountable" placeholder="Min" />
                        <span class="input-group-addon" ng-hide="uncountable">
                            <a class="btn btn-link btn-xs pull-left" ng-click="minPlus(measure)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-md-3" ng-hide="uncountable">
                    <label for="step">
                        Measure step value
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <a class="btn btn-link btn-xs" ng-click="stepMinus(measure)" ng-hide="measure.step==0">
                                <span class="glyphicon glyphicon-minus"></span>
                            </a>
                        </span>
                        <input class="form-control" type="number" ng-model="measure.step" placeholder="Step" />
                        <span class="input-group-addon">
                            <a class="btn btn-link btn-xs" ng-click="stepPlus(measure)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </span>
                    </div> 
                </div>
            </div>
            <div class="form-group">
                <label for="converter">
                    Converter
                </label>
                <div class="col-sm-12">
                    <table ui-tree="treeSubMeasures" id="tree-root" class="table table-responsive">
                        <thead>
                            <tr>
                                <th width=10%>
                                    <label for="subMeasureIndex" ng-show="converter.length>0">
                                        Sort
                                    </label>
                                </th>
                                <th width="25%">
                                    <label for="subMeasureRate" ng-show="converter.length>0">
                                        Conversion
                                    </label>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ui-tree-nodes ng-model="converter">
                            <tr ng-repeat="subMeasure in converter" ui-tree-node>
                                <td>
                                    <i class="glyphicon glyphicon-sort" ui-tree-handle></i>
                                    {{subMeasure.index+1}}
                                </td>
                                <td>
                                    <div class="input-group" ng-hide="uncountable">
                                        <span class="input-group-addon" ng-show="subMeasure.exchange">
                                            <a class="btn btn-link btn-xs" ng-click="subMeasure.exchange=false">
                                                <span class="glyphicon glyphicon-retweet">
                                                    Rate
                                                </span>
                                            </a>
                                        </span>
                                        <span class="input-group-addon" ng-hide="subMeasure.exchange">
                                            <a class="btn btn-link btn-xs" ng-click="subMeasure.exchange=true">
                                                <span class="glyphicon glyphicon-lock">
                                                    Convertable to
                                                </span>
                                            </a>
                                        </span>
                                        <input class="form-control" type="number" min="0" ng-show="subMeasure.exchange" ng-model="subMeasure.rate" placeholder="Rate" />
                                        <span class="input-group-addon" ng-show="subMeasure.exchange">
                                            {{subMeasure.caption}}
                                        </span>
                                        <span class="input-group-addon" ng-hide="subMeasure.exchange">
                                            {{subMeasure.caption}}
                                        </span>
                                    </div>
                                    <span class="btn btn-secondary" ng-show="uncountable">
                                        {{subMeasure.caption}}
                                    </span>
                                </td>
                                <td>
                                    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeSubMeasure(this)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control"
                                ng-model="selectedMeasure"
                                data-animation="am-flip-x"
                                bs-options="obj.id as obj.caption for obj in getMeasuresList()"
                                placeholder="Measure"
                                bs-typeahead
                            >
                        <span class="input-group-addon" ng-click="newSubMeasure(selectedMeasure)">
                            <span class="glyphicon glyphicon-plus"></span>
                        </span> 
                    </div> 
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
            </div>
        </fieldset>
    </form>
</section>