<section ng-controller="MeasuresController" ng-init="findOne()">
    <div class="page-header">
        <h1>
            Measure edit
        </h1>
    </div>
    <form name="measureForm" class="form-horizontal" ng-submit="update(measureForm.$valid)" novalidate>
        <fieldset>
            <div class="form-group"> 
                <div class="col-md-3">
                    <label for="caption">
                        Measure caption
                    </label>
                    <input class="form-control" type="text" ng-model="measure.caption" placeholder="Name" />
                </div>
                <div class="col-md-3">
                    <label for="min">
                        Measure minimum value
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <a class="btn btn-link btn-xs" data-nodrag ng-click="minMinus(measure)" id="minMinus">
                                <span class="glyphicon glyphicon-minus"></span>
                            </a>
                        </span>
                        <input class="form-control" type="number" ng-model="measure.min" placeholder="Min" />
                        <span class="input-group-addon">
                            <a class="btn btn-link btn-xs pull-left" data-nodrag ng-click="minPlus(measure)" id="minPlus">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="step">
                        Measure step value
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <a class="btn btn-link btn-xs" data-nodrag ng-click="stepMinus(measure)" id="amountMinus">
                                <span class="glyphicon glyphicon-minus"></span>
                            </a>
                        </span>
                        <input class="form-control" type="number" ng-model="measure.step" placeholder="Step" />
                        <span class="input-group-addon">
                            <a class="btn btn-link btn-xs" data-nodrag ng-click="stepPlus(measure)" id="amountPlus">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </span>
                    </div> 
                </div>
            </div>
            <div class="form-group">
                <label for="converter">
                    Converter
                </label>
                <div class="col-sm-12">
                    <table ui-tree="treeSubMeasures" id="tree-root" class="table table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    <label for="subMeasureIndex" ng-show="measure.converter.length>0">
                                        Sort
                                    </label>
                                </th>
                                <th width="80%">
                                    <label for="subMeasureCaption" ng-show="measure.converter.length>0">
                                        Measure
                                    </label>
                                </th>
                                <th>
                                    <label for="subMeasureRate" ng-show="measure.converter.length>0">
                                        Conversion rate
                                    </label>
                                </th>
                            </tr>
                        </thead>
                        <tbody ui-tree-nodes ng-model="measure.converter">
                            <tr ng-repeat="subMeasure in measure.converter" ui-tree-node>
                                <td>
                                    <i class="glyphicon glyphicon-sort" ui-tree-handle></i>
                                    {{subMeasure.index+1}}
                                </td>
                                <td>
                                    <div class="form-group" data-nodrag>
                                        <textarea name="action" ng-model="step.action" id="action" class="form-control" cols="30" rows="3" placeholder="Action"></textarea>
                                    </div>
                                </td>
                                <td>
                                    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeStep(this)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control"
                                ng-model="actionStep"
                                data-animation="am-flip-x"
                                placeholder="Enter new step here or press plus"
                            >
                        <span class="input-group-addon" ng-click="newSubMeasure(measure)">
                            <span class="glyphicon glyphicon-plus"></span>
                        </span> 
                    </div> 
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
            </div>
        </fieldset>
    </form>
</section>