<section ng-controller="RequestController" ng-init="findOne()">
    <div class="page-header">
        <h1>
            Запрос от {{request.createdAt | date}}
        </h1>
    </div>
    <div class="col-md-12">
        <form name="requestForm" class="form-horizontal" ng-submit="save(requestForm.$valid)" novalidate>
            <fieldset>
                <div ng-if="!shelf" class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-search"></i>
                        </div>
                        <input type="text" ng-model="asyncShelf" placeholder="Выберите полку"
                               typeahead="shelf as shelf.caption for shelf in getAsyncShelves($viewValue)"
                               typeahead-loading="loadingShelves" typeahead-no-results="noResultsShelf"
                               typeahead-on-select="selectShelf($item)" class="form-control">
                        <i ng-show="loadingShelves" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResultsShelf" class="input-group-addon">
                            <i class="glyphicon glyphicon-remove"></i>
                            Нет результатов
                        </div>
                        <div class="input-group-addon">
                            <div ng-click="clearAsyncShelf()">
                                <i class="glyphicon glyphicon-remove"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="shelf" class="form-group">
                    <div class="row">
                        <div ng-if="request.measure.id != shelf.measure.id" class="col-md-4">
                            <label>
                                Единица измерения полки
                                <i class="glyphicon glyphicon-copy" ng-click="applyMeasure()"></i>
                            </label>
                            <measureselectcard ng-model="shelf.measure"></measureselectcard>
                        </div>
                        <div class="col-md-4">
                            <label>
                                Единица измерения запроса
                            </label>
                            <measureselectcard ng-model="request.measure" editable="true" cache="asyncMeasures"></measureselectcard>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>
                                К полке: {{shelf.caption}}
                            </label>
                            <label ng-show="shelf.place">
                                Место хранения: {{shelf.place}}
                            </label>
                        </div>
                        <div class="col-md-7">
                            <div class="text-center">
                                {{shelf.measure.caption}}
                            </div>
                            <shelfstatusbar ng-model="shelf" handle="handle"></shelfstatusbar>
                        </div>
                    </div>
                    <div class="row" ng-if="request.measure">
                        <div class="col-md-4">
                            <label for="requested">
                                Необходимо
                            </label>
                            <updowninput id="requested" ng-model="request.requested" measure="request.measure"
                                         validatable="true" validator="checkRequest(id, value, oldValue)">
                            </updowninput>
                        </div>
                        <div ng-if="!isImmediatelyResolvable">
                            <div class="col-md-4">
                                <label for="buy">
                                    Требуется купить
                                </label>
                                <!--TODO default value so buttons can work-->
                                <updowninput id="buy" ng-model="request.buy" measure="request.measure"
                                             validatable="true" validator="storeUserBuy(id, value, oldValue)"
                                ></updowninput>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label for="buyDate" class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                        Купить до
                                    </label>
                                    <input id="buyDate" type="date" ng-model="request.buyDate" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <hr>
                        <div ng-if="isImmediatelyResolvable">
                            <div class="col-md-4">
                                <label>
                                    <label class="btn btn-default">
                                        <i class="glyphicon glyphicon-check"></i>
                                        Выполнить сразу
                                    </label>
                                </label>
                                <!--TODO input for immediate resolve if shelf is capable to do so-->
                            </div>
                        </div>
                        <div ng-if="!isImmediatelyResolvable">
                            <div class="col-md-4">
                                <label>
                                    <label class="btn btn-default">
                                        <i class="glyphicon glyphicon-unchecked"></i>
                                        Создать запрос
                                    </label>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="{{request.id ? 'Обновить' : 'Создать'}}">
                </div>
                <div ng-show="error" class="text-danger">
                    <strong ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
