<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <!--<img ng-src="modules/core/client/img/brand/logo.png" alt="SEAN.JS Stack" class="img-responsive text-center" />-->
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">Кухонный помощник</p>
    </div>
    <!--<div class="row">
      <p>
        <a class="btn btn-default btn-lg" href="https://github.com/seanjs-stack" target="_blank">View on Github</a>
        <a class="btn btn-primary btn-lg" href="http://seanjs.readthedocs.org/en/latest/" target="_blank">SEAN.JS Documentation</a>
        <a class="btn btn-success btn-lg" href="https://gitter.im/seanjs-stack/seanjs" target="_blank">Gitter: Join the chat!</a>
      </p>
    </div>-->
  </div>
  <div>
    <hr />
    <!--<div class="row">
      <h2 class="text-center">Congratulations! You've configured and ran the sample application!</h2>
    </div>-->
    <hr />
    <accordion>
      <accordion-group heading="Что он умеет" is-open="true">
        <!--<p>
          SEAN.JS is a Full-Stack Javascript for an easy starting point with

          <a href="http://sequelize.readthedocs.org/en/latest" target="_blank" class="seanjs">
            <span class="seanjs-capital">S</span>equelize</a>,

          <a href="http://expressjs.com/" target="_blank" class="seanjs">
            <span class="seanjs-capital">E</span>xpress</a>,

          <a href="http://angularjs.org/" target="_blank" class="seanjs">
            <span class="seanjs-capital">A</span>ngularJS</a> and

          <a href="http://nodejs.org/" target="_blank" class="seanjs">
            <span class="seanjs-capital">N</span>ode.js</a>

          based applications.
          <br /> It is designed to give you a quick and organized way to start developing SEAN based web apps.
        </p>
-->
        <b>На данный момент</b>
        <ul>

          <li>Книга рецептов с поиском</li>
          <li>Справочник ингредиентов</li>
          <li>Конвертер кухонных единиц измерения</li>
        </ul>
      </accordion-group>
      <accordion-group heading="Что будет дальше">
        В данный момент разрабатываются
        <ul>
          <li>Планировщик меню на неделю</li>
          <li>Учет продуктов на хранении</li>
          <li>Список закупок</li>
          <li>Подбор рецепта по имеющимся продуктам</li>
        </ul>
      </accordion-group>
        
      <!--<accordion-group heading="Need Help?">
        <h5>Don't worry! We got your back with our AWESOME community...</h5>
        <ul>
          <li><a href="http://seanjs.readthedocs.org/en/latest/" target="_blank">SEAN.JS Stack Documentation</a></li>
          <li><a href="http://stackoverflow.com/tags/seanjs" target="_blank">Stack Overflow</a></li>
          <li><a href="https://github.com/seanjs-stack/seanjs/issues" target="_blank">GitHub SEAN.JS Issues</a></li>
        </ul>
      </accordion-group>
    </accordion>-->

  </div>
  <hr />
  <!--<div class="row">
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-body">
          <p>
            <a href="http://sequelize.readthedocs.org/en/latest" target="_blank">
              <img alt="Sequelize" class="img-responsive text-center" src="modules/core/client/img/sample/sequelize.png" />
            </a>
            <hr />
            <a href="http://sequelize.readthedocs.org/en/latest" target="_blank">Sequelize</a> is a promise-based ORM for Node.js and io.js. It supports the dialects PostgreSQL, MySQL, MariaDB, SQLite and MSSQL and features solid transaction support,
            relations, read replication and more.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-body">
          <a href="http://expressjs.com/" target="_blank">
            <img alt="Express" class="img-responsive text-center" src="modules/core/client/img/sample/express.png" />
          </a>
          <hr />
          <a href="http://expressjs.com/" target="_blank">Express</a> is a minimal and flexible node.js web application framework, providing a robust set of features for building single and multi-page, and hybrid web applications.
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-body">
          <a href="http://angularjs.org/" target="_blank">
            <img alt="AngularJS" class="img-responsive text-center" src="modules/core/client/img/sample/angularjs.png" />
          </a>
          <hr />
          <a href="http://angularjs.org/" target="_blank">AngularJS</a> lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-body">
          <a href="http://nodejs.org/" target="_blank">
            <img alt="Node.js" class="img-responsive text-center" src="modules/core/client/img/sample/nodejs.png" />
          </a>
          <hr />
          <a href="http://nodejs.org/" target="_blank">Node.js</a> is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications.
        </div>
      </div>
    </div>
  </div>-->

</section>