<section ng-controller="RecipesController" ng-init="findOne()">
    <div class="page-header">
        <h1>
            Edit Recipe
        </h1>
    </div>
    <div class="col-md-12">
        <form name="recipeForm" class="form-horizontal" ng-submit="update(recipeForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group" show-errors>
                    <label for="title">
                        Title
                    </label>
                    <input name="title" type="text" ng-model="recipe.title" id="title" class="form-control" placeholder="Title" required>
                    <div ng-messages="recipeForm.title.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">
                            Recipe title is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content">
                        Content
                    </label>
                    <textarea name="content" ng-model="recipe.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content">
                    </textarea>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <table ui-tree="treeOptionsUpdate" id="tree-root" class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Sort</th>
                                    <th width="80%">Name</th>
                                    <th>
                                        <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newExistingStep()" style="margin-right: 8px;">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody ui-tree-nodes ng-model="recipe.steps">
                                <tr ng-repeat="step in recipe.steps" ui-tree-node>
                                    <td>
                                        <i class="glyphicon glyphicon-resize-vertical" ui-tree-handle></i> 
                                    </td>
                                    <td>
                                        <strong>{{step.index+1}}</strong>
                                        <div class="form-group" data-nodrag>
                                            <label for="action">Action</label>
                                            <textarea name="action" ng-model="step.action" id="action" class="form-control" cols="30" rows="3" placeholder="Action"></textarea>
                                        </div>
                                        <div class="form-group" data-nodrag>
                                            <label for="device">Device</label>
                                            <textarea name="device" ng-model="step.device" id="device" class="form-control" cols="30" rows="3" placeholder="Device"></textarea>
                                        </div>
                                        <div class="form-group" data-nodrag>
                                            <label for="duration">Duration</label>
                                            <textarea name="duration" ng-model="step.duration" id="duration" class="form-control" cols="30" rows="3" placeholder="Duration"></textarea>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeExistingStep(this)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
                <div ng-show="error" class="text-center alert alert-danger">
                    <strong ng-bind="error">
                    </strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
