<section ng-controller="MeasuresController" ng-init="find()">
    <div class="page-header">
        <h1>
            Measures
        </h1>
    </div>
    <form name="measureForm" class="form-horizontal" ng-submit="update(measureForm.$valid)" novalidate>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </div>
                <input type="text" class="form-control" placeholder="Search measures" ng-model="filterMeasures">
            </div>
            <div class="list-group">
                <a ng-repeat="measure in measures | filter:filterMeasures" 
               class="list-group-item">
                    <label for="caption">
                        Caption
                    </label>
                    <input class="input-md" class="list-group-item-heading" type="test" ng-model="measure.caption" placeholder="Caption" />
                    <label for="caption">
                        Min
                    </label>
                    <input class="input-md" type="number" step="0.01" ng-model="measure.min" placeholder="Min value" />
                    <label for="caption">
                        Step
                    </label>
                    <input class="input-md" type="number" step="0.01" ng-model="measure.step" placeholder="Step" />          
                </a>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-default">
        </div>
    </form>
</section>