<section ng-controller="RecipesController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="recipe.title"></h1>
  </div>
  <div class="pull-right" ng-show="authentication.user.id == recipe.user.id || authentication.user.roles.indexOf('admin') != -1">
    <a class="btn btn-primary" ui-sref="recipes.edit({recipeId: recipe.id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove(recipe);">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="recipe.created | date:'mediumDate'"></span>
      by
      <span ng-bind="recipe.user.username"></span>
    </em>
  </small>
  <p class="lead" ng-bind="recipe.content"></p>
    <ol>
        <li ng-repeat="ingridient in recipe.ingridients">
            <span ng-bind="ingridient.caption"></span>
            <hr>
            <!--            <small>
                {{step.device}} at {{step.duration}}
            </small>-->
        </li>
    </ol>
    <ol>
        <li ng-repeat="step in recipe.steps">
            <span ng-bind="step.action"></span>
            <hr>
            <!--            <small>
                {{step.device}} at {{step.duration}}
            </small>-->
        </li>
    </ol>
</section>
