<section ng-controller="MenusController" ng-init="findOne()">
    <div class="page-header">
        <h1 ng-show="menu.id">
            Меню
        </h1>
        <h1 ng-hide="menu.id">
            Новое меню
        </h1>
    </div>
    <div class="row">
        <label for="types">
            Расписание
        </label>
        <div class="list-group">
            <div ng-repeat="type in menu.types" class="list-group-item">
                <h4 class="list-group-item-heading">
                    <snap class="glyphicon glyphicon-time"></snap>    
                    {{type.serve}} - {{type.caption}}
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="weekday in menu.weekDays">
            <button ng-hide="weekday.isActive" type="button" class="btn btn-secondary btn-block" ng-click="weekday.isActive=true">
                {{weekday.caption}}
            </button>
            <div ng-show="weekday.isActive" class="panel panel-primary">
                <div class="panel-heading" ng-click="weekday.isActive=false">
                    <button type="button" class="btn btn-primary btn-block">
                        {{weekday.caption}}
                    </button>
                </div>
                <div class="panel-body">
                     <div class="row">
                        <div ng-repeat="type in weekday.types">
                            <div class="col-md-3 col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        {{type.caption}}
                                        <div class="pull-right">
                                            <snap class="glyphicon glyphicon-time"></snap>
                                            {{type.serveTime}}
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <div ng-repeat="meal in type.meals" class="list-group-item">
                                                <h4 class="list-group-item-heading" ng-bind="meal.comment"></h4>
                                                <p class="list-group-item-text">
                                                    Порций: {{meal.portions}}
                                                </p>
                                            </div> 
                                        </div>   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <form name="menuForm" class="form-horizontal" ng-submit="save(menuForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="col-md-5">
                        <label for="place">
                            Место хранения
                        </label>
                        <input name="deficit" type="text" ng-model="shelf.place" class="form-control">
                        <hr/>
                        <label for="isSpoiled">
                            Переопределение свежести
                        </label>
                        <br/>
                        <label class="{{btnIsSpoiledTrue}}" ng-click="spoilUpdate(false)">
                            Свежее
                        </label>
                        <label class="{{btnIsSpoiledFalse}}" ng-click="spoilUpdate(true)">
                            Испорченое
                        </label> 
                    </div>                   
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="{{shelf.id ? 'Обновить' : 'Сохранить'}}">
                </div>
                <div ng-show="error" class="text-danger">
                    <strong ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>