<section ng-controller="MenusController" ng-init="findOne()">
    <div class="page-header">
        <h1 ng-show="menu.number">
            Меню №{{menu.number}} от {{menu.startDate | date}}
        </h1>
        <h1 ng-hide="menu.number">
            Новое меню
        </h1>
    </div>
    <div class="row">
        <label for="types">
            Расписание
        </label>
        <div class="list-group">
            <div ng-repeat="type in menu.types | orderBy:'serve' track by $index" class="list-group-item">
                <div class="list-group-item-heading">
                    <div class='row'>
                        <a class="pull-right btn btn-danger btn-xs" ng-click="removeType($index)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <div class="col-md-3 col-sm-5">
                            <timepicker ng-model="type.serve" show-meridian="false"></timepicker>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <label for="type.caption">
                                Прием пищи
                            </label>
                            <input type="text" ng-model="type.caption" class="form-control" required placeholder="Название приема пищи">
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="list-group-item-heading">
                    <div class='row'>
                        <div class="col-md-3 col-sm-5">
                            <timepicker ng-model="form.newType.serve" show-meridian="false"></timepicker>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <label for="type.caption">
                                Прием пищи
                            </label>
                            <input type="text" ng-model="form.newType.caption" class="form-control" required placeholder="Название приема пищи">
                        </div>
                        <a class="btn btn-success" ng-click="addType()">
                            <span class="glyphicon glyphicon-plus"></span>
                            Добавить новый тип
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="weekday in menu.weekDays">
            <button ng-hide="weekday.isActive" type="button" class="btn btn-secondary btn-block" ng-click="weekday.isActive=true">
                {{weekday.caption | date : 'EEEE'}}
            </button>
            <div ng-show="weekday.isActive" class="panel panel-primary">
                <div class="panel-heading" ng-click="weekday.isActive=false">
                    <button type="button" class="btn btn-primary btn-block">
                        {{weekday.caption | date : 'EEEE'}}
                    </button>
                </div>
                <div class="panel-body">
                     <div class="row">
                        <div ng-repeat="type in menu.types | orderBy:'serve' track by $index">
                            <div class="col-md-3 col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        {{type.caption}}
                                        <div class="pull-right">
                                            <snap class="glyphicon glyphicon-time"></snap>
                                            {{type.serve | date:'HH:mm'}}
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <div ng-repeat="meal in weekday.types[type.index].meals" class="list-group-item">
                                                <div class="row">
                                                    <div class="col-xs-1">
                                                        <a class="btn btn-success btn-xs" ng-click="mealMoveDay(meal,-1)">
                                                            <span class="glyphicon glyphicon-triangle-top"></span>
                                                        </a>    
                                                    </div>
                                                    <div class="col-xs-1">
                                                        <a class="btn btn-success btn-xs" ng-click="mealMoveType(type,meal,-1)">
                                                            <span class="glyphicon glyphicon-triangle-left"></span>
                                                        </a>    
                                                    </div>
                                                    
                                                    <div class="col-xs-8">
                                                        <h4 class="list-group-item-heading" ng-bind="meal.comment"></h4>
                                                        <p class="list-group-item-text">
                                                            Порций: {{meal.portions}}
                                                            index: {{meal.index}}
                                                            type: {{type.index}}
                                                        </p>   
                                                    </div>
                                                    <div class="col-xs-1">
                                                        <a class="btn btn-success btn-xs" ng-click="mealMoveDay(meal,1)">
                                                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                                                        </a>    
                                                    </div>
                                                    <div class="col-xs-1">
                                                        <a class="btn btn-success btn-xs" ng-click="mealMoveType(type,meal,1)">
                                                            <span class="glyphicon glyphicon-triangle-right"></span>
                                                        </a>    
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="list-group-item">
                                            <a class="btn btn-success btn-xs" ng-click="addMeal()">
                                                <span class="glyphicon glyphicon-plus"></span>
                                                Добавить новое блюдо
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <form name="menuForm" class="form-horizontal" ng-submit="save(menuForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group">
                    <h4>Asynchronous results</h4>
                    <pre>Model: {{asyncSelected | json}}</pre>
                    <input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http" typeahead="recipe as recipe.caption for recipe in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResults">
                      <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>                    
                </div>
                <a class="btn btn-success btn-xs" ng-click="addRecipe(asyncSelected.id)">
                    <span class="glyphicon glyphicon-plus"></span>
                    Назначить рецепт
                </a>
                <pre>Recipe: {{recipe | json}}</pre>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="{{shelf.id ? 'Обновить' : 'Сохранить'}}">
                </div>
                <div ng-show="error" class="text-danger">
                    <strong ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>