<section ng-controller="MenusController" ng-init="find()">
    <div class="page-header">
        <h1>
            Меню
        </h1>
    </div>
    <form>
        <div class="form-group">
        </div>
    </form>
    <div class="list-group">
        <a ng-repeat="menu in menus" ui-sref="menu.view({menuId: menu.number})" class="list-group-item">
            <div class="row">
                {{menu.number}}
            </div>           
        </a>
    </div>
    <div class="alert alert-warning text-center" ng-if="!menus.length">
        Нет меню, <a ui-sref="menu.create">создать</a>?
    </div>
</section>