<section ng-controller="ShelfController" ng-init="findForShelf()">
    <div class="page-header">
        <h1>
            Запросы по полке {{shelf.caption}}
        </h1>
    </div>
    <div class="row">
        <div ng-repeat="query in shelfQueries">
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div ng-show="query.isClosed">
                            {{query.number}}:
                            <i class="glyphicon glyphicon-ok-circle"></i>
                            Выполнен
                        </div>
                        <div ng-hide="query.isClosed">
                            {{query.number}}:
                            <i class="glyphicon glyphicon-record"></i>
                            В процессе
                        </div>
                    </div>
                    <div class="panel-body">
                        <a ui-sref="shelf.queryEdit({ shelfId: query.shelfId, queryId: query.number })"><!--//TODO shelf number-->
                            <div class="row">
                                <i class="glyphicon glyphicon-shopping-cart"></i>
                                {{query.buy}} / {{query.bought}} @ {{buyDate}}
                            </div>
                            <div class="row">
                                <i class="glyphicon glyphicon-cutlery"></i>
                                {{query.use}} / {{query.used}} @ {{useDate}}
                            </div>
                            <div class="row">
                                <i class="glyphicon glyphicon-trash"></i>
                                {{query.spoil}} @ {{spoilDate}}
                            </div>
                        </a>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group">
        <div ng-repeat="query in shelfQueries" class="list-group-item">
            <div class="row">
                <div class="col-md-1">
                    <h4 class="list-group-item-heading" ng-bind="query.number"></h4>
                </div>
                <div class="col-md-2">
                    <div ng-show="query.isClosed">
                        <i class="glyphicon glyphicon-ok-circle"></i>
                        Выполнен
                    </div>
                    <div ng-hide="query.isClosed">
                        <i class="glyphicon glyphicon-record"></i>
                        В процессе
                    </div>
                </div>
                <a ui-sref="shelf.queryEdit({ shelfId: query.shelfId, queryId: query.number })"><!--//TODO shelf number-->
                    <div class="col-md-3">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                        {{query.buy}} / {{query.bought}} @ {{buyDate}}
                    </div>
                    <div class="col-md-3">
                        <i class="glyphicon glyphicon-cutlery"></i>
                        {{query.use}} / {{query.used}} @ {{useDate}}
                    </div>
                    <div class="col-md-3">
                        <i class="glyphicon glyphicon-trash"></i>
                        {{query.spoil}} @ {{spoilDate}}
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>