<section ng-controller="ShelfController" ng-init="findRequests()">
    <div class="page-header">
        <h1>
            Запросы к полке {{shelf.caption}}
        </h1>
    </div>
    <div class="list-group">
        <div ng-repeat="request in requests" class="list-group-item">
            <div class="row">
                <div class="col-md-2">
                    <h4 class="list-group-item-heading">
                        {{request.buyDate | date: shortDate}}
                    </h4>
                </div>
                <div class="col-md-2">
                    <div ng-show="request.isResolved">
                        <i class="glyphicon glyphicon-ok-circle"></i>
                        Выполнен
                    </div>
                    <div ng-hide="request.isResolved">
                        <i class="glyphicon glyphicon-record"></i>
                        В процессе
                    </div>
                </div>
                <a ui-sref="request.edit({ requestId: request.id })">
                    <div class="col-md-3">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                        {{request.buy}} / {{request.bought}} @ {{buyDate}}
                    </div>
                    <div class="col-md-3">
                        <i class="glyphicon glyphicon-cutlery"></i>
                        {{request.requested}} / {{request.reserved}} @ {{useDate}}
                    </div>
                    <div class="col-md-2">
                        <i class="glyphicon glyphicon-trash"></i>
                        {{request.spoil}} @ {{spoilDate}}
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
