<section ng-controller="ShelfController" ng-init="findOne()">
    <div class="page-header">
        <h1>
            {{shelf.id ? 'Edit Shelf' : 'New Shelf'}} {{shelf.id}}
        </h1>
    </div>
    <div class="col-md-12">
        <form name="shelfForm" class="form-horizontal" ng-submit="save(shelfForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group">
                    <!--<label for="override">
                        TODO override    
                    </label>-->
                    <!-- //TODO override UI-->
                    <!-- <label for="fallback">
                        TODO fallback    
                    </label>-->
                    <!-- //TODO fallback UI-->
                    <pre>
                        {{shelf | json}} <!--FIXME remove json shelf on delevopment-->
                    </pre>
                    
                    <label for="stored">
                        Stored    
                    </label>
                    <progressbar class="{{shelf.progressbar.class}}" value="shelf.progressbar.value" type="{{shelf.progressbar.type}}" max="100">
                        <span style="color:white; white-space:nowrap;"> 
                            {{shelf.progressbar.text}}
                        </span>
                    </progressbar>
                    <uib-progress>
                        <uib-bar value="20" type="danger">
                            <span style="color:white; white-space:nowrap;"> 
                                Deficit
                            </span>
                        </uib-bar>
                        <uib-bar value="30" type="warning">
                            <span style="color:white; white-space:nowrap;"> 
                                Less then desired
                            </span>
                        </uib-bar>
                        <uib-bar value="30" type="success">
                            <span style="color:white; white-space:nowrap;"> 
                                Desired
                            </span>
                        </uib-bar>
                        <uib-bar value="20" type="info">
                            <span style="color:white; white-space:nowrap;"> 
                                Abundance
                            </span>
                        </uib-bar>
                    </uib-progress>  
                    
                    <label for="deficit">
                        Deficit amount    
                    </label>
                    <input name="deficit" type="number" ng-model="shelf.deficit" class="form-control">
                    
                    <label for="desired">
                        Desired amount    
                    </label>
                    <input name="desired" type="number" ng-model="shelf.desired" class="form-control">
                    
                    <label for="max">
                        Max amount    
                    </label>
                    <input name="max" type="number" ng-model="shelf.max" class="form-control">
                    
                    <label for="stored">
                        STORED     
                    </label>
                    <input name="stored" type="number" ng-model="shelf.stored" class="form-control">
                    
                    <button ng-click="shelf.stored = shelf.stored +1; progressUpdate(shelf)">sto+1</button>
                    <button ng-click="shelf.stored = shelf.stored -1; progressUpdate(shelf)">sto-1</button>
                    
                    <label for="spoilOpenedAt">
                        spoilOpenedAt    
                    </label>
                    <input type="date" class="form-control" ng-model="shelf.spoilOpenedAt"/>
                                      
                    <label for="spoilSealedAt">
                        spoilSealedAt    
                    </label>
                    <input type="date" class="form-control" ng-model="shelf.spoilSealedAt"/>
                    
                    <label for="unsealedAt">
                        unsealedAt
                    </label>
                    <input type="date" class="form-control" ng-model="shelf.unsealedAt"/>                    
                    
                    <label for="isSpoiled">
                        isSpoiled
                    </label> 
                    <label class="{{btnIsSpoiledTrue}}" ng-click="spoilUpdate(false)">Well</label>
                    <label class="{{btnIsSpoiledFalse}}" ng-click="spoilUpdate(true)">Spoiled!</label>
                    <!-- //TODO isSpoiled UI-->                 
                    <!--<label for="isSealed">
                        TODO isSealed    
                    </label>-->
                    <!-- //TODO isSealed UI-->   
                    <!--<label for="place">
                        TODO place    
                    </label>-->
                    <!-- //TODO place UI-->  
                    <!-- //TODO ingridient UI-->
                    <!-- //TODO measure UI-->
                    <!-- //TODO shelfQuery UI-->    
                </div>
                <div class="form-group" show-errors>
                    <label class="control-label" for="title">
                        Title {{valid}}
                    </label>
                    <input name="title" type="text" ng-model="shelf.title" id="title" class="form-control" placeholder="Title" required>
                    <div ng-messages="shelfForm.title.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">
                            Article title is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="content">
                        Content
                    </label>
                    <textarea name="content" data-ng-model="shelf.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="{{shelf.id ? 'Update' : 'Create'}}">
                </div>
                <div ng-show="error" class="text-danger">
                    <strong ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>