<section ng-controller="ShelfController" ng-init="findOne()">
    <div class="page-header">
        <h1>
            Просмотр полки: {{info.caption}}
        </h1>
    </div>
    <div class="row">
            <div class="col-md-2">
                <span ng-if="info.image">
                    <img ng-src="{{imageurl}}{{info.image}}" class="img-thumbnail user-profile-picture">
                </span>
            </div>
            <div class="col-md-6">
                <p class="lead" ng-bind="info.card"></p>
            </div>
        </div>
    <hr/>
    <div class="row">
        <div class="col-md-3">
            <label for="stored">
                Единица измерения: {{info.measure}}    
            </label>
            <hr>
            <label for="place" ng-show="shelf.place">
                Место хранения: {{shelf.place}}
            </label>
        </div>
        <div class="col-md-7">
            <progressbar class="{{shelf.progressbar.class}}" value="shelf.progressbar.value" type="{{shelf.progressbar.type}}" max="100">
                <span style="color:white; white-space:nowrap;"> 
                    {{shelf.progressbar.text}}
                </span>
            </progressbar>
            <hr>
            <uib-progress ng-show="legend">
                <uib-bar value="10" type="default">
                    <span style="color:white; white-space:nowrap;"> 
                        Пусто
                    </span>
                </uib-bar>
                <uib-bar value="10" type="danger">
                    <span style="color:white; white-space:nowrap;"> 
                        Дефицит
                    </span>
                </uib-bar>
                <uib-bar value="30" type="warning">
                    <span style="color:white; white-space:nowrap;"> 
                        Недостаточно
                    </span>
                </uib-bar>
                <uib-bar value="30" type="success">
                    <span style="color:white; white-space:nowrap;"> 
                        Достаточно
                    </span>
                </uib-bar>
                <uib-bar value="20" type="info">
                    <span style="color:white; white-space:nowrap;"> 
                        Избыток
                    </span>
                </uib-bar>
            </uib-progress>
            <div ng-show="legend">
                <label for="deficit">
                    Порог дефицита: {{shelf.deficit}} {{info.measure}}     
                </label>
                <label for="desired">
                    Порог достаточности: {{shelf.desired}} {{info.measure}}    
                </label>
                <label for="max">
                    Порог избытка: {{shelf.max}} {{info.measure}}    
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="btn-group">
                <label class="btn btn-link" ng-click="legend = !legend">
                    <snap class="glyphicon glyphicon-info-sign"></snap>
                </label>
                <label class="btn btn-link" ui-sref="shelf.edit({ shelfId: shelf.id })">
                    <snap class="glyphicon glyphicon-cog"></snap>
                </label>
                <label class="btn btn-link" ui-sref="shelf.query({ shelfId: shelf.id })">
                    <snap class="glyphicon glyphicon-shopping-cart"></snap>
                </label>
            </div>    
        </div>  
    </div>
    <hr>    
</section>