<section ng-controller="ShelfController" ng-init="find()">
    <div class="page-header">
        <h1>
            Shelf
        </h1>
    </div>
    <div class="list-group">
        <a ng-repeat="shelf in shelves" ui-sref="shelf.view({ shelfId: shelf.id })" class="list-group-item">
            <h4 class="list-group-item-heading" ng-bind="shelf.stored"></h4>
            <p class="list-group-item-text" ng-bind="shelf.max"></p>
        </a>
    </div>
    <div class="alert alert-warning text-center" ng-if="!shelves.length">
        No shelves yet, why don't you <a ui-sref="shelf.create">create one</a>?
    </div>
</section>