<section ng-controller="ShelfQueryController" ng-init="findOne()">
    <div class="page-header">
        <h1>
            Запрос №{{shelfQuery.number}}
        </h1>
    </div>
    <div class="col-md-12">
        <form name="shelfQueryForm" class="form-horizontal" ng-submit="save(shelfQueryForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group">  
                    <div class="row">
                        <div class="col-md-2">
                            <label for="info.measure">
                                Измеряется в: {{info.measure}}
                            </label>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-md-4">
                            <label for="buy">
                                Запланировано купить
                            </label>
                            <div ng-hide="form.buy.input">
                                <div class="btn-group">
                                    <label class="btn btn-default" ng-click="setBuy(-1,0)">
                                        <snap class="glyphicon glyphicon-minus"></snap>
                                    </label>
                                    <label class="btn btn-default" ng-click="form.buy.input = true">
                                        {{shelfQuery.buy}} {{info.measure}}
                                    </label>
                                    <label class="btn btn-default" ng-click="setBuy(1,0)">
                                        <snap class="glyphicon glyphicon-plus"></snap>
                                    </label>
                                </div> 
                            </div>
                            <div ng-show="form.buy.input">
                                <div class="input-group">
                                    <label class="input-group-addon">
                                        {{info.measure}}
                                    </label>
                                    <input name="buy" type="number" ng-model="form.buy.value" class="form-control">
                                    <label class="input-group-addon" ng-click="setBuy(0,form.buy.value)">
                                        OK
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="bought">
                                Куплено в итоге
                            </label>
                            <div ng-hide="form.bought.input">
                                <div class="btn-group">
                                    <label class="btn btn-default" ng-click="setBought(-1,0)">
                                        <snap class="glyphicon glyphicon-minus"></snap>
                                    </label>
                                    <label class="btn btn-default" ng-click="form.bought.input = true">
                                        {{shelfQuery.bought}} {{info.measure}}
                                    </label>
                                    <label class="btn btn-default" ng-click="setBought(1,0)">
                                        <snap class="glyphicon glyphicon-plus"></snap>
                                    </label>
                                </div> 
                            </div>
                            <div ng-show="form.bought.input">
                                <div class="input-group">
                                    <label class="input-group-addon">
                                        {{info.measure}}
                                    </label>
                                    <input name="bought" type="number" ng-model="form.bought.value" class="form-control">
                                    <label class="input-group-addon" ng-click="setBought(0,form.bought.value)">
                                        OK
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="buyDate">
                                Купить до
                            </label>
                            <div class="input-group">
                                <input name="buyDate" type="date" ng-model="shelfQuery.buyDate" class="form-control">
                                <label class="input-group-addon">
                                    <snap class="glyphicon glyphicon-calendar"></snap>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="use">
                                Запланировано использовать
                            </label>
                            <div ng-hide="form.use.input">
                                <div class="btn-group">
                                    <label class="btn btn-default" ng-click="setUse(-1,0)">
                                        <snap class="glyphicon glyphicon-minus"></snap>
                                    </label>
                                    <label class="btn btn-default" ng-click="form.use.input = true">
                                        {{shelfQuery.use}} {{info.measure}}
                                    </label>
                                    <label class="btn btn-default" ng-click="setUse(1,0)">
                                        <snap class="glyphicon glyphicon-plus"></snap>
                                    </label>
                                </div> 
                            </div>
                            <div ng-show="form.use.input">
                                <div class="input-group">
                                    <label class="input-group-addon">
                                        {{info.measure}}
                                    </label>
                                    <input name="use" type="number" ng-model="form.use.value" class="form-control">
                                    <label class="input-group-addon" ng-click="setUse(0,form.use.value)">
                                        OK
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="used">
                                Использовано в итоге
                            </label>
                            <div ng-hide="form.used.input">
                                <div class="btn-group">
                                    <label class="btn btn-default" ng-click="setUsed(-1,0)">
                                        <snap class="glyphicon glyphicon-minus"></snap>
                                    </label>
                                    <label class="btn btn-default" ng-click="form.used.input = true">
                                        {{shelfQuery.used}} {{info.measure}}
                                    </label>
                                    <label class="btn btn-default" ng-click="setUsed(1,0)">
                                        <snap class="glyphicon glyphicon-plus"></snap>
                                    </label>
                                </div> 
                            </div>
                            <div ng-show="form.used.input">
                                <div class="input-group">
                                    <label class="input-group-addon">
                                        {{info.measure}}
                                    </label>
                                    <input name="used" type="number" ng-model="form.used.value" class="form-control">
                                    <label class="input-group-addon" ng-click="setUsed(0,form.used.value)">
                                        OK
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="useDate">
                                Зарезервировано до
                            </label>
                            <div class="input-group">
                                <input name="useDate" type="date" ng-model="shelfQuery.useDate" class="form-control">
                                <label class="input-group-addon">
                                    <snap class="glyphicon glyphicon-calendar"></snap>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <label for="spoil">
                                Иcпортилось
                            </label>
                            <div ng-hide="form.spoil.input">
                                <div class="btn-group">
                                    <label class="btn btn-default" ng-click="setSpoil(-1,0)">
                                        <snap class="glyphicon glyphicon-minus"></snap>
                                    </label>
                                    <label class="btn btn-default" ng-click="form.spoil.input = true">
                                        {{shelfQuery.spoil}} {{info.measure}}
                                    </label>
                                    <label class="btn btn-default" ng-click="setSpoil(1,0)">
                                        <snap class="glyphicon glyphicon-plus"></snap>
                                    </label>
                                </div> 
                            </div>
                            <div ng-show="form.spoil.input">
                                <div class="input-group">
                                    <label class="input-group-addon">
                                        {{info.measure}}
                                    </label>
                                    <input name="spoil" type="number" ng-model="form.spoil.value" class="form-control">
                                    <label class="input-group-addon" ng-click="setSpoil(0,form.spoil.value)">
                                        OK
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="spoilDate">
                                Испортится после
                            </label>
                            <div class="input-group">
                                <input name="spoilDate" type="date" ng-model="shelfQuery.spoilDate" class="form-control">
                                <label class="input-group-addon">
                                    <snap class="glyphicon glyphicon-calendar"></snap>
                                </label>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="{{shelfQuery.id ? 'Обновить' : 'Создать'}}">
                </div>
                <div ng-show="error" class="text-danger">
                    <strong ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>