<section ng-controller="IngredientsController" ng-init="findOne()">
    <div class="page-header">
        <h1 ng-bind="ingredient.caption"></h1>
    </div>
    <div class="row">
        <div class="col-md-2">
            <span ng-if="ingredient.image">
                <img ng-src="{{imageurl}}{{ingredient.image}}" class="img-thumbnail user-profile-picture">
            </span>
        </div>
        <div class="col-md-6">
            <p class="lead" ng-bind="ingredient.infoCard"></p>
        </div>
    </div>
    <div ng-show="ingredient.measureDefault">
        <hr>
        <label for="measureDefault">
            Единица измерения
        </label>
        <div class="list-group-item">
            <div class="row">
                <div class="col-md-3">
                    <h4 class="list-group-item-heading">
                        {{ingredient.measure.caption}}
                    </h4>
                </div>
                <div ng-show="ingredient.measure.step>0">
                    <div class="col-md-4">
                        <div class="list-group-item-text">
                            Мин. = {{ingredient.measure.min}}, шаг = {{ingredient.measure.step}} 
                        </div>    
                    </div>    
                </div>
                <div ng-hide="ingredient.measure.step>0">
                    <div class="col-md-4">
                        <div class="list-group-item-text">
                            Неисчисляемая 
                        </div>    
                    </div>    
                </div>
                <div class="col-md-4" ng-show="ingredient.measure.converter">
                    Конвертируется
                    <div ng-repeat="converter in measure.converter">
                        <small ng-hide=converter.uncountable>
                            {{converter.caption}} = {{converter.rate}} * {{measure.caption}}
                        </small>
                        <small ng-show=converter.uncountable>
                            {{converter.caption}} ~ {{measure.caption}}
                        </small>
                    </div>
                </div>
                <div class="col-md-4" ng-hide="ingredient.measure.converter">
                    Не конвертируется
                </div>
            </div>
        </div>
    </div>
    <div ng-show="authentication.user.id">
        <hr>
        <label for="shelf">
            На полке
        </label>
        <a ng-show="shelf" class="list-group-item" ui-sref="shelf.view({shelfId: shelf.id})"><!--TODO shelf.read-->
            <h4 class="list-group-item-heading">
                {{shelf.caption}}
            </h4>
            <shelfstatusbar ng-model="shelf" handle="handle"></shelfstatusbar>
            <h4 ng-show="shelf.place" class="list-group-item-text">
                Положение: {{shelf.place}}
            </h4>
        </a>
        <a ng-hide="shelf" class="list-group-item" ui-sref="shelf.create({ingredient: ingredient})">
            Создать полку с данным ингредиентом            
        </a>
        <br>
    </div>
</section>